<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<!-- 전체 변호사 리스트 조회 -->
	<entry key="selectList">
		SELECT LAW_NO,
		       USER_NAME,
		       PART_NAME,
		       COMPANY_NAME,
		       COMPANY_ADDRESS
		FROM LAW_USER L
		JOIN MEMBER M ON (REF_UNO = USER_NO)
		JOIN PART_CATEGORY P ON (REF_PNO = PART_NO)
		WHERE M.STATUS = 'Y'
		ORDER BY LAW_NO ASC
	</entry>
	<!-- 카테고리 리스트 조회 -->
	<entry key="selectPart">
		SELECT *
		FROM PART_CATEGORY
		ORDER BY PART_NO
	</entry>
	
	<!-- 선택된 변호사 상세정보 -->
	<entry key="selectLawyer">
		SELECT LAW_NO,
		       USER_NAME,
		       PART_NAME,
		       EXAM,
		       EXAM_SESSION,
		       PASS_DATE,
		       COMPANY_NAME,
		       COMPANY_ADDRESS,
		       COMPANY_PN,
		       LAW_COMMENT,
		       CAREER
		FROM LAW_USER L
		JOIN MEMBER M ON (REF_UNO = USER_NO)
		JOIN PART_CATEGORY P ON (REF_PNO = PART_NO)
		WHERE M.LAWYER = 'Y'
		AND LAW_NO = ?
	</entry>
	
	<!-- 조건으로 검색한 변호사 리스트 -->
	<entry key="searchList">
		SELECT LAW_NO,
		       USER_NAME,
		       PART_NAME,
		       COMPANY_NAME,
		       COMPANY_ADDRESS
		FROM LAW_USER L
		JOIN MEMBER M ON (REF_UNO = USER_NO)
		JOIN PART_CATEGORY P ON (REF_PNO = PART_NO)
		WHERE M.STATUS = 'Y'
		AND USER_NAME LIKE ?
		AND REF_PNO LIKE ?
		AND COMPANY_ADDRESS LIKE ?
	</entry>
	
	<!-- 찜한 여부 체크 -->
	<entry key="dibsCheck">
		SELECT COUNT(*) "COUNT"
		FROM DIBS
		WHERE REF_LNO = ?
		AND REF_UNO = ?
	</entry>
	
	<!-- 찜하기 등록 -->
	<entry key="insertDibs">
		INSERT INTO DIBS VALUES(?,?)
	</entry>
	
	<!-- 찜하기 삭제 -->
	<entry key="deleteDibs">
		DELETE FROM DIBS
		WHERE REF_LNO = ?
		AND REF_UNO = ?
	</entry>
	
	<!-- 상담내용 작성 -->
	<entry key="insertCounsel">
		INSERT INTO COUNSEL(CS_NO,
							REF_LNO,
							CS_WRITER,
							CS_TITLE,
							CS_CONTENT)
		VALUES(SEQ_CSNO.NEXTVAL,?,?,?,?)
	</entry>
	
	<!-- 분야로 변호사 이름 리스트 조회 (상담폼 카테고리용) -->
	<entry key="partOptionChange">
		SELECT LAW_NO,
		       USER_NAME
		FROM LAW_USER 
		JOIN MEMBER ON (REF_UNO = USER_NO)
		JOIN PART_CATEGORY ON (REF_PNO = PART_NO)
		WHERE STATUS = 'Y'
		AND PART_NAME = ?
	</entry>
	
	<!-- 변호사 이름으로 분야 조회 (상담폼 카테고리용) -->
	<entry key="lawOptionChange">
		SELECT PART_NO,PART_NAME
		FROM PART_CATEGORY
		JOIN LAW_USER ON (PART_NO = REF_PNO)
		WHERE LAW_NO = ?
	</entry>
	
	
	
</properties>