<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 수정</title>
    <style>
        .content{
            width: 800px;
            box-sizing: border-box;
            margin: auto;
            margin-top:10px;
        }
        #info{
            width: 70%;
            margin-left: 200px;
        }
        a{
            text-decoration: none;
            color: black;
            display: block;
        }

        #btn button{
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <div class="content">
        <h2 align ="center">마이페이지</h2>
        <h4>회원정보 수정</h4>
        <hr>
            <table id="info">
                <tbody>
                    <tr>
                        <td width="150">아이디 </td>
                        <td >user01</td> <!-- loginUser Session에 저장된 정보 불러오기-->
                        <td></td>
                    </tr>
                    <tr>
                        <td>비밀번호 변경</td>
                        <td><input type="password" name="newPwd" id="pwd"></td> <!-- 회원가입이랑 동일하게 keyup 사용-->
                    </tr>
                    <tr>
                        <td>비밀번호 확인</td>
                        <td><input type="password" name="chkPwd" id="chkPwd"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div class="match" style="color: blue">비밀번호가 일치합니다</div><div class="nomatch" style="color: red;">비밀번호가 일치하지 않습니다.</div></td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td><input type="text" id="name" name="updateName"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>핸드폰</td>
                        <td><input type="text" id="phone" name="updatePhone"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td><input type="email" id="email" name="updateEmail"> <button>이메일 인증</button> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p style="font-size: 10px; color: red;">이메일주소는 개인정보찾기시 사용되어지니 정확한 이메일주소를 입력해주세요</p></td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td style="width: 100px;"><input type="text" name="updateAddress" id="address" style="width: 150px;"></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <hr>
            
            <!-- 버튼 -->
            <br><br>
            <div id="btn" align="center">
                <button>메인으로</button>
                <button>수정하기</button>
            </div>
            
        </div>
        <br><br>
    </body>
</html>