<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectBoardListCount">
		SELECT COUNT(*) COUNT
		FROM BOARD
		WHERE STATUS='Y'
		AND CATEGORY_NO = 3
	</entry>
	<entry key="selectAccidentBoardList">
		SELECT *
		FROM   (SELECT ROWNUM RNUM,A.*
	      		FROM (SELECT BOARD_NO
							,USER_ID
							,TITLE
							,COUNT
							,CREATE_DATE
							,REF_PNO
							,INSURANCE_TYPE
							,REGION
							,FILE_PATH||CHANGE_NAME PATH
						FROM BOARD B
						JOIN MEMBER M ON(BOARD_WRITER = USER_NO)
						JOIN ACCIDENT A ON(BOARD_NO=A.REF_BNO)
						JOIN ATTACHMENT AT ON(BOARD_NO=AT.REF_BNO)
						WHERE B.STATUS = 'Y'
						AND CATEGORY_NO = 3
						AND SOLVE='N'
						AND NOTICE='N'
		              ORDER BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectAccidentAttachmentList">
		SELECT REF_BNO
			  ,ORIGIN_NAME
			  ,CHANGE_NAME
			  ,FILE_PATH
		FROM ATTACHMENT
		WHERE STATUS='Y'
		AND FILE_LEVEL =1 
	</entry>
	
	<entry key="selectResolvedBoardList">
		SELECT *
		FROM   (SELECT ROWNUM RNUM,A.*
	      		FROM (SELECT BOARD_NO
							,USER_ID
							,TITLE
							,COUNT
							,CREATE_DATE
							,REF_PNO
							,INSURANCE_TYPE
							,REGION
							,FILE_PATH||CHANGE_NAME PATH
						FROM BOARD B
						JOIN MEMBER M ON(BOARD_WRITER = USER_NO)
						JOIN ACCIDENT A ON(BOARD_NO=A.REF_BNO)
						JOIN ATTACHMENT AT ON(BOARD_NO=AT.REF_BNO)
						WHERE B.STATUS = 'Y'
						AND CATEGORY_NO = 3
						AND SOLVE='Y'
						AND NOTICE='N'
		              ORDER BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertAccidentBoard">
		INSERT INTO BOARD(BOARD_NO
						 ,BOARD_WRITER
						 ,CATEGORY_NO
						 ,TITLE
						 ,CONTENT
						 ,STATUS)
		VALUES(SEQ_BNO.NEXTVAL,?,3,?,?,'Y')						 
	</entry>
	
	<!-- 시퀀스 마지막 숫자를 추출해서 방금 등록한 글번호 가져오기 -->
	<entry key="selectRefBoardNo">
		SELECT LAST_NUMBER 
		FROM USER_SEQUENCES 
		WHERE SEQUENCE_NAME = 'SEQ_BNO'
	</entry>
	
	<entry key="insertAccidentInfo">
		INSERT INTO ACCIDENT(ACC_NO
                    ,REF_BNO
                    ,REF_LNO
                    ,REF_PNO
                    ,INSURANCE_TYPE
                    ,REGION
                    ,ACC_RATE_ME
                    ,ACC_RATE_YOU)
		VALUES(SEQ_ANO.NEXTVAL,?,0,?,?,?,?,?)
	</entry>
	
	<entry key="insertAccidentAttachment">
		INSERT INTO ATTACHMENT(FILE_NO
							  ,REF_BNO
							  ,ORIGIN_NAME
							  ,CHANGE_NAME
							  ,FILE_PATH
							  ,FILE_LEVEL
							  ,FILE_TYPE)
		VALUES(SEQ_FNO.NEXTVAL,?,?,?,?,1,2)
	</entry>
	
	<entry key="searchByTitle">
		SELECT *
		FROM   (SELECT ROWNUM RNUM,A.*
	      		FROM (SELECT BOARD_NO
							,USER_ID
							,TITLE
							,COUNT
							,CREATE_DATE
							,REF_PNO
							,INSURANCE_TYPE
							,REGION
							,FILE_PATH||CHANGE_NAME PATH
						FROM BOARD B
						JOIN MEMBER M ON(BOARD_WRITER = USER_NO)
						JOIN ACCIDENT A ON(BOARD_NO=A.REF_BNO)
						JOIN ATTACHMENT AT ON(BOARD_NO=AT.REF_BNO)
						WHERE B.STATUS = 'Y'
						AND CATEGORY_NO = 3
						AND SOLVE='N'
						AND NOTICE='N'
						AND REGION LIKE ?
						AND REF_PNO LIKE ?
						AND INSURANCE_TYPE LIKE ?
						AND TITLE LIKE ?
		              ORDER BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchByWriter">
		SELECT *
		FROM   (SELECT ROWNUM RNUM,A.*
	      		FROM (SELECT BOARD_NO
							,USER_ID
							,TITLE
							,COUNT
							,CREATE_DATE
							,REF_PNO
							,INSURANCE_TYPE
							,REGION
							,FILE_PATH||CHANGE_NAME PATH
						FROM BOARD B
						JOIN MEMBER M ON(BOARD_WRITER = USER_NO)
						JOIN ACCIDENT A ON(BOARD_NO=A.REF_BNO)
						JOIN ATTACHMENT AT ON(BOARD_NO=AT.REF_BNO)
						WHERE B.STATUS = 'Y'
						AND CATEGORY_NO = 3
						AND SOLVE='N'
						AND NOTICE='N'
						AND REGION LIKE ?
						AND REF_PNO LIKE ?
						AND INSURANCE_TYPE LIKE ?
						AND USER_ID LIKE ?
		              ORDER BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="accidentBoardSelectDetail">
			<!-- 게시글정보 -->
		SELECT BOARD_NO
			,USER_ID
			,TITLE
			,CONTENT
			,COUNT
			,CREATE_DATE
			,LIKED
			,REPORT_COUNT
			,RP_COUNT
			<!-- 첨부파일정보 -->
			,FILE_PATH||CHANGE_NAME PATH
		FROM BOARD B
		JOIN MEMBER M ON(BOARD_WRITER = USER_NO)
		JOIN ATTACHMENT AT ON(BOARD_NO = REF_BNO)
		WHERE BOARD_NO = ? 
		AND B.STATUS = 'Y'
		AND CATEGORY_NO = 3
		AND NOTICE='N'
	</entry>
	<entry key="accidentSelectDetail">
		<!-- 사고정보 -->
	  SELECT ACC_NO
			,REF_PNO
			,REF_LNO
			,INSURANCE_TYPE
			,REGION
			,ACC_RATE_ME
			,ACC_RATE_YOU
			,SOLVE
	  FROM ACCIDENT
	  WHERE REF_BNO = ? 
	  AND SOLVE='N'
	</entry>
	
	<entry key="accidentReplySelectDetail">
		SELECT RP_NO
			  ,USER_ID
			  ,CONTENT
			  ,CREATE_DATE
		FROM REPLY R
		JOIN MEMBER M ON(USER_NO = RP_WRITER)
		WHERE RP_BNO = ?
		AND R.STATUS = 'Y'
		ORDER BY CREATE_DATE DESC 
	</entry>
	
	<entry key="deleteAccidentBoard">
		UPDATE BOARD 
		SET STATUS='N'
		WHERE BOARD_NO = ?
		AND STATUS='Y'
	</entry>
	
	<entry key="deleteAccident">
		UPDATE ACCIDENT 
		SET STATUS='N'
		WHERE REF_BNO = ?
		AND STATUS='Y'
	</entry>
	
	<entry key="deleteAccidentAttachment">
		UPDATE ATTACHMENT
		SET STATUS='N'
		WHERE REF_BNO = ?
		AND STATUS='Y'
	</entry>
	
</properties>