<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<!-- 일반 게시글 리스트 조회 -->
	<entry key="selectBoardList">
		SELECT *
		FROM (SELECT ROWNUM RUM, A.*
		            FROM (SELECT BOARD_NO, USER_ID, TITLE, COUNT, CREATE_DATE, LIKED, RP_COUNT
		                        FROM BOARD B
		                        JOIN MEMBER M ON(BOARD_WRITER=USER_NO)
		                        AND B.STATUS='Y'
		                        AND CATEGORY_NO = 1
		                        AND NOTICE = 'N'
		                        ORDER BY CREATE_DATE DESC) A)
		WHERE RUM BETWEEN ? AND ?
	</entry>
	
	<!-- 공지사항 리스트 조회  -->
	<entry key="selectNoticeList">
		SELECT BOARD_NO, USER_ID, TITLE, COUNT, CREATE_DATE, LIKED, RP_COUNT
        FROM BOARD B
        JOIN MEMBER M ON(BOARD_WRITER=USER_NO)
        AND B.STATUS='Y'
        AND CATEGORY_NO = 1
        AND NOTICE = 'Y'
        ORDER BY CREATE_DATE DESC
	</entry>
	
	<!-- 조회수 증가 -->
	<entry key="increaseBoardCount">
		UPDATE BOARD
		SET COUNT = COUNT+1
		WHERE BOARD_NO = ?
	</entry>
	
	<entry key="selectBoard">
		SELECT BOARD_NO, USER_ID, TITLE, CONTENT, COUNT, CREATE_DATE, LIKED, RP_COUNT
		FROM BOARD B
		JOIN MEMBER M ON(BOARD_WRITER = USER_NO)
		WHERE B.STATUS = 'Y'
		AND BOARD_NO = ?
		AND NOTICE = 'N'
	</entry>
	
	<entry key="insertLiked">
		UPDATE BOARD
		SET LIKED = LIKED+1
		WHERE BOARD_NO = ?
	</entry>
	
	<entry key="insertBoard">
		INSERT INTO BOARD(BOARD_NO, BOARD_WRITER, CATEGORY_NO, TITLE, CONTENT, NOTICE)
		VALUES(SEQ_BNO.NEXTVAL, ?, 1, ?, ?, ?)
	</entry>
	
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_TYPE)
		VALUES(SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL, ?, ?, ?, 1)
	</entry>
	
	<entry key="selectAttachment">
		SELECT FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
		FROM ATTACHMENT
		WHERE STATUS = 'Y'
		AND REF_BNO = ?
	</entry>
	
	<entry key="boardListCount">
		SELECT COUNT(*) "COUNT"
		FROM BOARD
		WHERE STATUS = 'Y'
	</entry>
	
	<entry key="delAt">
		DELETE FROM ATTACHMENT
		WHERE FILE_NO = ?
	</entry>
	
	<entry key="updateBoard">
		UPDATE BOARD
		SET TITLE = ?, CONTENT = ?
		WHERE BOARD_NO = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="updateAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_TYPE)
		VALUES(SEQ_FNO.NEXTVAL, ?, ?, ?, ?, 1)
	</entry>
	
	<entry key="deleteBoard">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = ?
	</entry>
	
	<!-- 댓글등록  -->
	<entry key="insertRp">
		INSERT INTO REPLY(RP_NO, REF_BNO, RP_WRITER, CONTENT)
		VALUES(SEQ_RPNO.NEXTVAL, ?, ?, ?)
	</entry>
	
	<!-- 댓글조회 -->
	<entry key="selectRpList">
		SELECT RP_NO, USER_ID, CONTENT, TO_CHAR(CREATE_DATE, 'YY-MM-DD HH24:MI:SS') "CREATE_DATE"
		FROM REPLY R
		JOIN MEMBER M ON(RP_WRITER = USER_NO)
		WHERE R.STATUS = 'Y'
		AND REF_BNO = ?
	</entry>
</properties>