<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectQuestionBoardCount">
		SELECT COUNT(*) COUNT
		FROM QUESTION
	</entry>
	
	<entry key="selectQuestionBoardList">
		SELECT QNO, USER_ID, TITLE, CREATE_DATE, OPEN, ANSWER
		FROM QUESTION Q
		JOIN MEMBER ON (Q_WRITER = USER_NO)
		WHERE Q.STATUS = 'Y'
	</entry>
	
	<entry key="insertQuestion">
		INSERT INTO QUESTION (QNO,Q_WRITER,TITLE,CONTENT,OPEN)
            VALUES(SEQ_QNO.NEXTVAL,?,?,?,?)
	</entry>
	
	<entry key="selectQuestion">
		SELECT QNO,USER_ID,TITLE,CONTENT,ANSWER,CREATE_DATE,OPEN 
		FROM QUESTION
		JOIN MEMBER ON (USER_NO = Q_WRITER)
		WHERE QNO = ?
		AND Q_WRITER = ?

	</entry>
	
	<entry key="selectQuestion2">
		SELECT QNO,USER_ID,TITLE,CONTENT,ANSWER,CREATE_DATE,OPEN
		FROM QUESTION Q
		JOIN MEMBER ON (USER_NO = Q_WRITER)
		WHERE QNO = ?
		AND Q.ADMIN = ?
		AND Q.STATUS = 'Y'

	</entry>
	
	<entry key="selectQuestion3">
		SELECT QNO,USER_ID,TITLE,CONTENT,ANSWER,CREATE_DATE,OPEN
		FROM QUESTION Q
		JOIN MEMBER ON (USER_NO = Q_WRITER)
		WHERE QNO = ?
		AND Q.STATUS = 'Y'
	</entry>
	
	<entry key="insertAnswer">
		UPDATE QUESTION 
	       	   SET ANSWER = ?
	       	   WHERE QNO=?
	</entry> 
	
	<entry key="selectAnswer">
		SELECT ANSWER
		FROM QUESTION
		WHERE QNO = ?
	
	</entry>
	
	<entry key="deleteQuestion">
		UPDATE QUESTION
		SET STATUS = 'N'
		WHERE QNO = ?
	</entry>
	
	<entry key="updateQuestion">
		UPDATE QUESTION
		SET OPEN = ?,
		  	TITLE =?,
			CONTENT =?
		WHERE QNO = ?	
	</entry>
</properties>