<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectAllAccidentBoard">
		SELECT *	
		FROM  (SELECT ROWNUM RNUM,A.*
			   FROM(SELECT BOARD_NO
					       ,M.USER_ID
					       ,CATEGORY_NO
					       ,TITLE
					       ,COUNT
					       ,B.CREATE_DATE
					       ,AC.REF_PNO
					       ,INSURANCE_TYPE
					       ,REGION
					       ,LIKED
					       ,REPORT_COUNT
					       ,B.STATUS
					       ,PART_NAME
					       ,LM.USER_NAME
					FROM BOARD B
					JOIN MEMBER M ON (BOARD_WRITER = M.USER_NO)
					
					JOIN ACCIDENT AC ON(BOARD_NO=AC.REF_BNO)
					JOIN LAW_USER L ON (L.LAW_NO=REF_LNO)
					JOIN MEMBER LM ON (LM.USER_NO=REF_UNO)
					JOIN PART_CATEGORY ON (AC.REF_PNO = PART_NO)
					WHERE CATEGORY_NO = ?
					ORDER BY B.CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?		
	</entry>
	
	<entry key="sortAccidentBoardByLiked">
		SELECT *	
		FROM  (SELECT ROWNUM RNUM,A.*
			   FROM(SELECT BOARD_NO
					       ,M.USER_ID
					       ,CATEGORY_NO
					       ,TITLE
					       ,COUNT
					       ,B.CREATE_DATE
					       ,AC.REF_PNO
					       ,INSURANCE_TYPE
					       ,REGION
					       ,LIKED
					       ,REPORT_COUNT
					       ,B.STATUS
					       ,PART_NAME
					       ,LM.USER_NAME
					FROM BOARD B
					JOIN MEMBER M ON (BOARD_WRITER = M.USER_NO)
					
					JOIN ACCIDENT AC ON(BOARD_NO=AC.REF_BNO)
					JOIN LAW_USER L ON (L.LAW_NO=REF_LNO)
					JOIN MEMBER LM ON (LM.USER_NO=REF_UNO)
					JOIN PART_CATEGORY ON (AC.REF_PNO = PART_NO)
					WHERE CATEGORY_NO = ?
					ORDER BY B.LIKED DESC)A)
		WHERE RNUM BETWEEN ? AND ?		
	</entry>
	
	<entry key="sortAccidentBoardByDislike">
		SELECT *	
		FROM  (SELECT ROWNUM RNUM,A.*
			   FROM(SELECT BOARD_NO
					       ,M.USER_ID
					       ,CATEGORY_NO
					       ,TITLE
					       ,COUNT
					       ,B.CREATE_DATE
					       ,AC.REF_PNO
					       ,INSURANCE_TYPE
					       ,REGION
					       ,LIKED
					       ,REPORT_COUNT
					       ,B.STATUS
					       ,PART_NAME
					       ,LM.USER_NAME
					FROM BOARD B
					JOIN MEMBER M ON (BOARD_WRITER = M.USER_NO)
					
					JOIN ACCIDENT AC ON(BOARD_NO=AC.REF_BNO)
					JOIN LAW_USER L ON (L.LAW_NO=REF_LNO)
					JOIN MEMBER LM ON (LM.USER_NO=REF_UNO)
					JOIN PART_CATEGORY ON (AC.REF_PNO = PART_NO)
					WHERE CATEGORY_NO = ?
					ORDER BY B.REPORT_COUNT DESC)A)
		WHERE RNUM BETWEEN ? AND ?		
	</entry>
	
	<entry key="sortAccidentBoardByCount">
		SELECT *	
		FROM  (SELECT ROWNUM RNUM,A.*
			   FROM(SELECT BOARD_NO
					       ,M.USER_ID
					       ,CATEGORY_NO
					       ,TITLE
					       ,COUNT
					       ,B.CREATE_DATE
					       ,AC.REF_PNO
					       ,INSURANCE_TYPE
					       ,REGION
					       ,LIKED
					       ,REPORT_COUNT
					       ,B.STATUS
					       ,PART_NAME
					       ,LM.USER_NAME
					FROM BOARD B
					JOIN MEMBER M ON (BOARD_WRITER = M.USER_NO)
					
					JOIN ACCIDENT AC ON(BOARD_NO=AC.REF_BNO)
					JOIN LAW_USER L ON (L.LAW_NO=REF_LNO)
					JOIN MEMBER LM ON (LM.USER_NO=REF_UNO)
					JOIN PART_CATEGORY ON (AC.REF_PNO = PART_NO)
					WHERE CATEGORY_NO = ?
					ORDER BY B.COUNT DESC)A)
		WHERE RNUM BETWEEN ? AND ?		
	</entry>

	<entry key="boardStatusOn">
		UPDATE BOARD
		SET STATUS = 'Y'
		WHERE BOARD_NO = ?
		AND STATUS = 'N'
	</entry>
	
	<entry key="boardStatusOff">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="accidentBoardDelete">
		DELETE BOARD
		WHERE BOARD_NO = ?
	</entry>
	
	<entry key="accidentInfoDelete">
		DELETE ACCIDENT
		WHERE REF_BNO = ?
	</entry>
	
	<entry key="accidentAttachmentDelete">
		DELETE ATTACHMENT
		WHERE REF_BNO = ?
	</entry>
	
	<entry key="accidentReplyDelete">
		DELETE REPLY
		WHERE REF_BNO = ?
	</entry>
	
	<entry key="accidentReviewDelete">
		DELETE ACCI_REVIEW
		WHERE REF_ACCNO = ?
	</entry>
	
	<!-- 삭제처리한 정보까지 불러오기 -->
	<entry key="selectAttachmentForManage">
		SELECT CHANGE_NAME , FILE_PATH , ORIGIN_NAME
		FROM ATTACHMENT
		WHERE REF_BNO = ?
	</entry>
	
	<!-- 삭제된 댓글까지 조회 -->
	<entry key="selectRpListForManage">
		SELECT RP_NO, USER_ID, CONTENT, TO_CHAR(CREATE_DATE, 'YY-MM-DD HH24:MI:SS') "CREATE_DATE"
		FROM REPLY R
		JOIN MEMBER M ON(RP_WRITER = USER_NO)
		WHERE REF_BNO = ?
	</entry>
	

</properties>