<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="loginMember">
		SELECT USER_NO, USER_ID,USER_PWD,USER_NAME,PHONE,EMAIL,ADDRESS,
			   ENROLL_DATE,STATUS,ADMIN,LAWYER
		FROM MEMBER
		WHERE USER_ID = ?
		AND USER_PWD = ?
		AND STATUS ='Y'
	</entry>
	
	<entry key="insertMember">
		INSERT INTO MEMBER(USER_NO, USER_ID, USER_PWD, USER_NAME, PHONE, EMAIL, ADDRESS)
					VALUES (SEQ_UNO.NEXTVAL, ?, ?, ?, ?, ?, ?)
	
	
	</entry>
	
	<entry key="MemberIdCheck">
		SELECT COUNT(*) COUNT
		FROM MEMBER
		WHERE USER_ID =? 
	
	
	</entry>
	
	<entry key="selectEmail">
		SELECT USER_ID, USER_PWD
		FROM MEMBER
		WHERE EMAIL =?
		
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER 
			SET USER_PWD = ?,
			USER_NAME =?,
			PHONE =?,
			EMAIL =?,
			ADDRESS =?
		WHERE USER_ID=?
		AND STATUS = 'Y'	
	</entry>
	
	<entry key="updatePwd">
		UPDATE MEMBER
			SET USER_PWD = ?
			WHERE EMAIL =?
			AND STATUS = 'Y'
	</entry>
	
	<entry key="insertProfile">
		INSERT INTO LAW_ATTACHMENT (FILE_NO, REF_UNO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH)
	                    	VALUES (SEQ_RFNO.NEXTVAL, ?,?,?,?)
	
	</entry>
	<entry key="insertApply">
		INSERT INTO LAW_USER(LAW_NO,REF_UNO,REF_PNO,EXAM,EXAM_SESSION,PASS_DATE,COMPANY_NAME,COMPANY_ADDRESS,COMPANY_PN,LAW_COMMENT,CAREER)
	           		VALUES(SEQ_LNO.NEXTVAL,?,?,?,?,?,?,?,?,?,?)
	</entry>
	
	<entry key="updateLawyerGrant">	
		UPDATE MEMBER
			SET LAWYER = 'W'
			WHERE USER_NO = ? 
	</entry>
	
	<entry key="selectLawyerGrant">
		SELECT LAWYER
		FROM MEMBER
		WHERE USER_NO = ?
		
	</entry>
	
	<entry key="selectDibsLawyer">
		SELECT LAW_NO, USER_NAME 
		FROM MEMBER
		JOIN LAW_USER ON(REF_UNO = USER_NO)
		WHERE USER_NO IN (SELECT REF_UNO
		                  FROM LAW_USER
		                  WHERE LAW_NO IN (SELECT REF_LNO
		                                   FROM DIBS
		                                   WHERE REF_UNO = ?))
		AND STATUS ='Y'
	</entry>
	
	<entry key="selectBoardList">
		SELECT BOARD_NO, TITLE, CREATE_DATE, CATEGORY_NAME
		FROM BOARD 
		JOIN BOARD_CATEGORY USING(CATEGORY_NO)
		WHERE BOARD_WRITER = ?
		AND STATUS = 'Y'
	                       
	</entry>
	
	<entry key="selectReplyList">
		SELECT RP_NO, REF_BNO, R.CONTENT AS "RP_CONTENT" , R.CREATE_DATE AS "RP_CREATE_DATE", BC.CATEGORY_NAME AS "CATEGORY" 
		FROM REPLY R
		JOIN BOARD B ON (R.REF_BNO = B.BOARD_NO)
		JOIN BOARD_CATEGORY BC ON(B.CATEGORY_NO = BC.CATEGORY_NO) 
		WHERE RP_WRITER = ?
		AND R.STATUS = 'Y'
	
	</entry>
	
	<entry key="selectCounselList">
		SELECT CS_NO, CS_TITLE, ACCEPT, CREATE_DATE, CS_ANSWER
		FROM COUNSEL
		WHERE CS_WRITER = ?
	</entry>
	
	<entry key="selectLawReviewList">
		SELECT REVIEW_NO, REF_ANO, REVIEW_CONTENT,STAR
		FROM LAW_REVIEW
		WHERE REF_ANO IN (SELECT ACC_NO
		                 FROM ACCIDENT
		                 WHERE REF_BNO IN (SELECT BOARD_NO 
		                                   FROM BOARD
		                                   WHERE BOARD_WRITER = ?))		
	</entry>
	

	<entry key="selectAccidentReviewList">
		SELECT AR_NO, LAW_NO, CONTENT
		FROM ACCI_REVIEW
		WHERE LAW_NO IN (SELECT REF_LNO
		                 FROM ACCIDENT
		                 WHERE SOLVE = 'Y'
		                 AND REF_LNO = (SELECT LAW_NO
		                                FROM LAW_USER
		                                JOIN MEMBER ON(REF_UNO = USER_NO)
		                                WHERE USER_NO = ?))
	
	</entry>
	
		<entry key="selectAccidentList">
		SELECT ACC_NO, REF_BNO, REF_LNO, PART_NAME, TITLE, SOLVE
		FROM ACCIDENT
		JOIN BOARD ON (REF_BNO = BOARD_NO)
		JOIN PART_CATEGORY ON (REF_PNO = PART_NO)
		WHERE REF_LNO IN (SELECT LAW_NO
		                  FROM LAW_USER
		                  JOIN MEMBER ON(REF_UNO = USER_NO)
		                  WHERE USER_NO = ?)
		AND SOLVE = 'N'                       
	</entry>
	
	<!-- 나에게 온 상담내역 조회 (변호사) -->
	<entry key="selectCounselListLaw">
		SELECT CS_NO, CS_TITLE, ACCEPT, CREATE_DATE, CS_ANSWER
		FROM COUNSEL
		WHERE REF_LNO = ?
	</entry>
	
</properties>