<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
<entry key="loginMember">
	SELECT USER_NO, USER_ID,USER_PWD,USER_NAME,PHONE,EMAIL,ADDRESS,
		   ENROLL_DATE,STATUS,ADMIN,LAWYER
	FROM MEMBER
	WHERE USER_ID = ?
	AND USER_PWD = ?
	AND STATUS ='Y'
		
	
</entry>

<entry key="insertMember">
	INSERT INTO MEMBER(USER_NO, USER_ID, USER_PWD, USER_NAME, PHONE, EMAIL, ADDRESS)
				VALUES (SEQ_UNO.NEXTVAL, ?, ?, ?, ?, ?, ?)


</entry>

<entry key="MemberIdCheck">
	SELECT COUNT(*) COUNT
	FROM MEMBER
	WHERE USER_ID =? 


</entry>

<entry key="selectEmail">
	SELECT USER_ID, USER_PWD
	FROM MEMBER
	WHERE EMAIL =?
	
</entry>
<entry key="updateMember">
	UPDATE MEMBER 
		SET USER_PWD = ?,
		USER_NAME =?,
		PHONE =?,
		EMAIL =?,
		ADDRESS =?
	WHERE USER_ID=?
	AND STATUS = 'Y'	
</entry>

<entry key="updatePwd">
	UPDATE MEMBER
		SET USER_PWD = ?
		WHERE EMAIL =?
		AND STATUS = 'Y'
</entry>

<entry key="insertProfile">
	INSERT INTO LAW_ATTACHMENT (FILE_NO, REF_UNO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH)
                    	VALUES (SEQ_RFNO.NEXTVAL, ?,?,?,?)

</entry>
<entry key="insertApply">
	INSERT INTO LAW_USER(LAW_NO,REF_UNO,REF_PNO,EXAM,EXAM_SESSION,PASS_DATE,COMPANY_NAME,COMPANY_ADDRESS,COMPANY_PN,LAW_COMMENT,CAREER)
           		VALUES(SEQ_LNO.NEXTVAL,?,?,?,?,?,?,?,?,?,?)
</entry>

<entry key="updateLawyerGrant">	
	UPDATE MEMBER
		SET LAWYER = 'W'
		WHERE USER_NO = ? 
</entry>

<entry key="selectLawyerGrant">
	SELECT LAWYER
	FROM MEMBER
	WHERE USER_NO = ?
	
</entry>

</properties>